.content-table {
	display: grid;
	grid-template-columns:
		minmax(100px, max-content) 1fr minmax(120px, max-content)
		minmax(120px, max-content) minmax(80px, max-content) minmax(60px, max-content);
	gap: 0 8px;
}
